PORT=3003
NODE_ENV=development
SUPABASE_DATABASE_URL=postgresql://postgres.ktmsemzpnpvlcyxjtqlf:[YOUR-PASSWORD]@aws-1-us-east-1.pooler.supabase.com:5432/postgres

PAYMENTS_DATABASE_SCHEMA=payments
JWT_SECRET=<jwt-secret>
JWT_EXPIRES_IN=7d
