PORT=3001
NODE_ENV=development
SUPABASE_DATABASE_URL=postgresql://postgres.ktmsemzpnpvlcyxjtqlf:[YOUR-PASSWORD]@aws-1-us-east-1.pooler.supabase.com:5432/postgres

AUTH_DATABASE_SCHEMA=element_auth
JWT_SECRET=<jwt-secret>
JWT_EXPIRES_IN=7d
